*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke
}

input{
    
    height: 0;
    width: 0;
    position: absolute;
    top:00;
    left:00;
}

.hidden{
    display: none !important;
}

section {
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid black;
}

.container{

    display: flex;
    gap: 1rem;

}

.container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > div p{
    font-size: 10px;
    font-weight: 400;
    color: #555;
}

.container > div > div{
    margin-top: .2rem;
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 3px;
}