@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: steelblue;
    font-family: 'Roboto','Sans-Serif';
}

.form {
width: 20rem;
 padding: 2rem;
 background-color: rgb(29, 73, 167);
 color: white;
    line-height: 2;
    border-radius: 10px;
    text-align: center;
}

.form form{
    text-align: left;
}

.form-control{
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-control input{
    line-height: 2;
    background-color: transparent;
    border: none;
    padding: .2rem;
    border-bottom: 3px solid rgb(255, 255, 255);
    outline:none;
    width: 100%;
}

.form-control input:focus{
    border-bottom: 3px solid rgb(30, 159, 223);
}

.form h2{
    margin-bottom: 2rem;
}

.form button{
    width: 100%;
    padding: .5rem;
    background-color: rgb(30, 159, 223);
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 5px;
}

.form button:hover{
    opacity: .7;
}

.form button:active{
    transform: scale(.98);
}

.form p{
    margin-top: 1rem;
    font-size: .6rem;
}

.form p a{
    color: rgb(30, 159, 223);
    text-decoration: none;
}

.form-control{
    padding-bottom: 1rem;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span{
    display: inline-block;
    font-size: 1.2rem;
    min-width: 5px;
    transition: .3s cubic-bezier(0.68, -.55,.265,1.55);

}

.form-control input:focus + label span{
    color: lightblue;
    transform: translateY(-30px);
}
