
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ex-cards{
    margin: 0 auto;
    margin-top: 20vh;
    height: 70vh;
    width: 80vw;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
}

.container h3{
   transition: all 0.7s ease-in-out 0.4s;
   position: absolute;
    bottom: 30px;
    left:30px;
    color: #fff;
   opacity: 0;
   
}

.img{
    flex: .5;
    transition: all 0.7s ease-in-out;
    border-radius: 50px;
    opacity: .8;
    cursor: pointer;
    margin: 10px;
}


.active{
    flex: 5 1 auto;
    position: relative;
}

.active h3{
    opacity: 1;
    z-index: 2;
}

@media(max-width:680px){

    #ex-cards{
        width: 90vw;
    }

    .img:nth-of-type(4){
        display: none;
    }

    .img:nth-of-type(5){
        display: none;
    }

}